.section-process {
  width: 100%;
  min-height: 100dvh;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

.card-process {
  background-color: transparent;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 10px -5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
}

.title-process {
  background-color: white;
  text-align: center;
  margin: 0;
  padding: 30px;
  border-radius: 30px 0 0;
  border-bottom: 1px solid #dbdbdb;
}

.div-list-process {
  padding: 30px;
}

.a-completed {
  width: 100%;
  background-color: #40a640;
  color: white;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}
